<div class='footer mt-3 ms-4'>
    <div class='row'>
      {{#each footer}}
        <div class='col-2'>
          <div>
            {{#each this}}
              <p>
                <a
                  class='nav-link {{#if @last}}disabled{{else}}text-primary{{/if}}'
                  href='{{link}}'
                >{{text}}</a>
              </p>
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
</div>